form {
    width: 200px;
    margin: 20px auto;
}

input {
    padding: 10px;
}

.poke-card {
    position: relative;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 300px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    /* background-color: #FFF; */
    border: 1px solid black;
    background-color: #dd082f;
}

.poke-card::before {
    content: '';
    background: radial-gradient(black 33%, transparent 33%);
    background-size: 3px 3px;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
}

.img-container {
    position: relative;
    width: 180px;
    margin: 10px auto;
    border:solid 5px black;
    display: table-caption;
}

.poke-types {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.poke-stats {
    display: block;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}

h3 {
    border: solid 1px black;
    background-color: white;
}

h2 {
    background-color: black;
    color:white;
}

.poke-name {
    font-weight: bold;
}

.poke-img {
    width: 180px;
}

.img-container{
    background-color: white;
}

.bigCircle{
    background-color: #01fbfb;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border:solid 1px black;
    float: left;
    margin: 5px;
}

.smallCircle{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border:solid 1px black;
    float: left;
    margin: 5px;
}

.smallCircle1{
    background-color: #dd082f;
}

.smallCircle2{
    background-color: #ffcc02;
}

.smallCircle3{
    background-color: #2ff901;
}

.poke-card-back {
    position: relative;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 300px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    /* background-color: #FFF; */
    border: 1px solid black;
    background-color: #dd082f;
}

.poke-card-back::before {
    content: '';
    background: radial-gradient(black 33%, transparent 33%);
    background-size: 3px 3px;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
}